In [51]:
import pandas as pd
import numpy as np
wordlist = pd.read_csv("wordlist.csv",)

#retraitement des dtype
for column in wordlist.columns:
    wordlist[column] = wordlist[column].astype("str")

/home/coin/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,1,2,3,4,5,7,8,9,10,11,12,13,14,15,16,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [52]:
# création df des listes de lettre
firstletterlist = pd.DataFrame()

#on remplace les nan par les œ, parce que je les ai str à l’import (sinon on a beaucoup de mot qui commence par N, les œ on peut les supprimer ensuite)
wordlist = wordlist.replace("nan", "œ")

#garder que la première lettre le chaque colonne et la mettre en majuscule
for column in wordlist.columns:
    firstletterlist[column] = wordlist[column].apply(lambda mot: mot[0])
    firstletterlist[column] = firstletterlist[column].apply(lambda lettre: lettre.upper())

In [53]:
# on remplace tous les caractères qui ne sont pas dans l’alphabet
# 1 on cherche dans le tableau tous les caractères qui ne sont pas dans l’alphabêt
to_replace_list = []
for column in firstletterlist.columns:
    for caract in firstletterlist[column].astype("str"):
        if (caract > "Z" or caract < "A") and caract not in to_replace_list:
            to_replace_list.append(caract)
# 2 on remplace chacun des caractère par œ
for caract in to_replace_list:
    firstletterlist = firstletterlist.replace(caract, np.NaN)

In [54]:
#compte des lettres pour chaque colonne
frequency = {}
for column in firstletterlist.columns:
    frequency[column] = firstletterlist[column].value_counts(normalize = True)
frequency = pd.DataFrame(frequency)

frequency.apply(lambda value : round(value*100, 2))

,Afrikaans,Croatian,Czech,Danish,Dutch,Finish,German,Hungarian,Italian,Norvegian,Polish,Spanish,Swailii,Swedish,turkish,French,English,Portugese,Finnish
A,5.83,2.14,1.85,5.48,7.29,5.37,11.15,5.86,12.23,7.32,2.14,11.89,19.69,5.70,7.26,7.71,6.61,13.76,4.20
B,7.93,3.88,2.43,6.70,7.93,1.52,6.78,4.54,2.42,7.77,3.00,2.80,0.68,6.20,7.20,4.95,5.22,3.45,0.64
C,0.29,2.42,2.37,2.01,1.88,0.92,0.74,2.60,9.40,0.48,2.67,11.62,0.32,0.87,1.73,10.66,8.35,9.39,0.12
D,4.60,5.89,4.90,3.52,4.17,1.01,3.73,2.07,7.22,4.07,4.89,11.63,0.43,3.20,6.42,11.20,4.88,10.46,0.59
E,2.42,1.20,0.78,2.82,1.88,3.48,6.03,7.78,2.95,2.72,1.95,11.23,0.29,2.46,3.77,9.52,3.60,12.92,2.69
F,1.81,1.37,0.91,7.77,1.51,1.00,4.48,5.75,3.38,7.68,2.08,2.87,0.49,8.29,2.75,3.57,3.40,3.14,0.68
G,9.05,2.51,0.57,4.22,7.61,0.91,6.04,2.23,2.61,3.50,2.91,1.59,0.23,3.65,4.41,3.11,3.10,2.55,0.35
H,4.72,1.31,2.27,5.35,3.73,5.64,5.08,4.80,0.08,4.04,1.72,1.77,7.32,4.40,4.36,1.90,4.00,2.28,6.08
I,3.17,4.62,1.10,3.02,2.35,2.40,1.59,3.46,5.88,2.37,1.97,5.81,3.48,3.16,4.15,3.32,3.26,3.67,2.18
J,0.90,1.53,1.07,1.30,0.66,2.77,0.58,2.27,0.05,0.78,1.50,0.60,0.62,1.12,0.20,0.77,0.89,0.57,2.61
K,9.00,5.42,4.60,6.38,6.25,13.32,5.97,10.31,0.06,6.72,6.53,0.01,11.34,7.59,10.81,0.31,1.32,0.01,15.23
L,3.73,2.18,1.69,4.23,3.31,6.21,2.92,3.86,3.08,3.62,2.57,2.08,1.66,4.03,1.46,2.23,3.02,2.69,7.05
M,4.28,4.59,3.13,5.41,3.96,6.59,4.07,7.96,3.33,4.65,4.28,3.75,11.57,4.58,7.37,5.10,5.40,5.43,6.57
N,2.44,6.96,19.81,3.11,1.83,2.87,2.34,3.35,1.44,2.22,5.14,0.93,7.40,3.21,1.83,1.34,3.47,1.57,2.98
O,7.40,6.83,5.78,3.34,6.77,2.81,1.00,2.63,2.33,3.26,5.98,1.88,0.24,4.60,2.98,1.63,3.23,2.23,1.93
P,4.10,15.40,14.18,4.63,4.77,9.12,4.32,3.50,7.28,5.13,14.97,7.74,0.87,5.06,4.22,8.11,8.78,7.70,10.55
Q,0.02,0.02,NaN,0.07,0.05,0.05,0.33,0.11,0.37,0.02,0.51,0.32,0.01,0.02,NaN,0.33,0.69,0.66,0.01
R,3.23,4.19,3.94,3.80,3.74,4.45,3.52,3.14,8.63,4.11,4.69,8.28,0.23,4.25,1.73,10.15,4.56,5.70,5.65
S,13.69,11.10,8.54,12.98,9.00,9.05,9.64,7.75,17.39,14.00,9.11,5.07,2.01,13.24,10.63,6.48,10.84,4.54,9.99
SS,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
T,4.57,3.90,2.59,5.98,4.57,8.96,3.27,7.09,5.21,6.65,3.14,4.58,5.02,5.93,7.39,4.71,5.41,4.65,8.95
U,1.57,3.95,3.07,3.39,2.03,1.49,3.51,2.16,1.08,4.28,3.63,0.62,6.74,3.99,1.92,0.32,5.10,0.59,1.40
V,4.98,3.48,7.40,3.54,8.36,7.41,5.43,5.34,3.07,4.10,0.01,2.57,1.30,3.89,1.48,2.05,1.46,1.56,7.78
W,0.27,0.11,0.01,0.36,3.70,0.46,3.75,0.43,0.06,0.10,7.61,0.00,14.50,0.19,NaN,0.08,2.50,0.01,0.03
X,0.00,0.02,0.00,0.06,0.02,0.02,0.06,0.10,0.03,0.02,0.00,0.01,NaN,0.04,NaN,0.03,0.13,0.18,0.00
Y,0.01,0.04,0.00,0.23,0.02,2.03,0.03,0.12,0.02,0.32,0.01,0.10,2.30,0.25,4.46,0.10,0.37,0.00,1.71
Z,0.00,4.96,7.00,0.29,2.61,0.15,3.62,0.78,0.38,0.07,6.98,0.25,1.25,0.10,1.49,0.31,0.39,0.32,0.02

In [55]:
# vérification des valeurs
print(frequency.sum())

Afrikaans    1.0
Croatian     1.0
Czech        1.0
Danish       1.0
Dutch        1.0
Finish       1.0
German       1.0
Hungarian    1.0
Italian      1.0
Norvegian    1.0
Polish       1.0
Spanish      1.0
Swailii      1.0
Swedish      1.0
turkish      1.0
French       1.0
English      1.0
Portugese    1.0
Finnish      1.0
dtype: float64

In [56]:
# export des fréquences pour plus tard
frequency.to_csv("frequancelettre.csv")

In [57]:
# Attribution des faces de dé pour chaque langue
# Génération des dectionnaire pour chaque dé
de1 = {}
de2 = {}
de3 = {}
de4 = {}

# Création des entrées pour chaque langue dans le dic
for column in frequency.columns:
    i = 0
    de1[column] = []
    de2[column] = []
    de3[column] = []
    de4[column] = []

# Assignation des lettres sur chaque face par incrémentation des entrée de chaque langue de le dic
    for (i, index) in enumerate(frequency[column].sort_values(ascending=False).index):
        if i == 0:
            de1[column].append(index)
            de2[column].append(index)
        if i == 1:
            de3[column].append(index)
            de4[column].append(index)
        if i == 2:
            de1[column].append(index)
            de3[column].append(index)
        if i == 3:
            de2[column].append(index)
            de4[column].append(index)
        if i == 4:
            de1[column].append(index)
            de4[column].append(index)
        if i == 5:
            de2[column].append(index)
            de3[column].append(index)
        if i == 6:
            de1[column].append(index)
        if i == 7:
            de2[column].append(index)
        if i == 8:
            de3[column].append(index)
        if i == 9:
            de4[column].append(index)
        if i == 10:
            de1[column].append(index)
        if i == 11:
            de2[column].append(index)
        if i == 12:
            de3[column].append(index)
        if i == 13:
            de4[column].append(index)
        if i == 14:
            de1[column].append(index)
        if i == 15:
            de2[column].append(index)
        if i == 16:
            de3[column].append(index)
        if i == 17:
            de4[column].append(index)

#Création de DF pour chaque dé
de1 = pd.DataFrame(de1)
de2 = pd.DataFrame(de2)
de3 = pd.DataFrame(de3)
de4 = pd.DataFrame(de4)

# Le Dé 1 est :

In [58]:
de1

,Afrikaans,Croatian,Czech,Danish,Dutch,Finish,German,Hungarian,Italian,Norvegian,Polish,Spanish,Swailii,Swedish,turkish,French,English,Portugese,Finnish
0,S,P,N,S,S,K,A,K,S,S,P,A,A,S,K,D,S,A,K
1,K,N,S,B,B,S,B,E,C,F,W,C,M,K,T,R,C,D,S
2,O,D,Z,T,A,V,E,T,P,K,K,R,N,T,A,P,T,P,V
3,V,Z,D,M,K,L,V,F,I,P,N,I,U,P,D,S,B,M,M
4,M,U,U,G,M,E,M,L,L,V,U,F,S,R,P,F,H,B,N
5,I,G,H,U,L,I,R,R,B,G,C,O,P,G,F,V,I,H,O

# Le DÉ 2 est :

In [59]:
de2

,Afrikaans,Croatian,Czech,Danish,Dutch,Finish,German,Hungarian,Italian,Norvegian,Polish,Spanish,Swailii,Swedish,turkish,French,English,Portugese,Finnish
0,S,P,N,S,S,K,A,K,S,S,P,A,A,S,K,D,S,A,K
1,B,O,V,K,G,T,G,S,R,A,Z,E,K,B,M,E,A,C,T
2,A,K,O,A,O,M,K,A,D,T,O,P,H,A,B,A,M,R,L
3,H,I,K,H,P,H,H,V,T,M,D,S,T,O,Y,M,U,T,H
4,P,T,T,R,R,N,W,P,V,D,T,B,L,L,I,I,E,F,E
5,N,C,A,O,Z,Y,U,O,O,O,L,H,B,N,U,H,O,O,Y

# Le Dé 3 est :

In [60]:
de3

,Afrikaans,Croatian,Czech,Danish,Dutch,Finish,German,Hungarian,Italian,Norvegian,Polish,Spanish,Swailii,Swedish,turkish,French,English,Portugese,Finnish
0,G,S,P,F,V,P,S,M,A,B,S,D,W,F,S,C,P,E,P
1,K,N,S,B,B,S,B,E,C,F,W,C,M,K,T,R,C,D,S
2,A,K,O,A,O,M,K,A,D,T,O,P,H,A,B,A,M,R,L
3,D,M,R,P,T,A,F,H,F,U,R,T,I,M,G,B,D,S,R
4,L,B,B,V,H,O,D,I,E,H,B,V,V,U,E,G,N,L,J
5,E,L,L,N,I,B,T,C,N,E,A,G,J,D,N,O,G,N,U

# Le Dé 4 est :

In [61]:
de4

,Afrikaans,Croatian,Czech,Danish,Dutch,Finish,German,Hungarian,Italian,Norvegian,Polish,Spanish,Swailii,Swedish,turkish,French,English,Portugese,Finnish
0,G,S,P,F,V,P,S,M,A,B,S,D,W,F,S,C,P,E,P
1,B,O,V,K,G,T,G,S,R,A,Z,E,K,B,M,E,A,C,T
2,O,D,Z,T,A,V,E,T,P,K,K,R,N,T,A,P,T,P,V
3,T,R,M,L,D,R,P,B,M,R,M,M,Y,H,H,T,R,I,A
4,R,V,C,D,W,J,Z,N,G,L,G,L,Z,V,O,L,F,G,I
5,F,A,I,I,U,U,L,J,U,I,F,N,F,I,R,N,L,V,F

In [65]:
limde1 = pd.DataFrame(index   = ["DICE 1"],
                      columns = ["0", "1", "2", "3", "4", "5"])
limde2 = pd.DataFrame(index   = ["DICE 2"],
                      columns = ["0", "1", "2", "3", "4", "5"])
limde3 = pd.DataFrame(index   = ["DICE 3"],
                      columns = ["0", "1", "2", "3", "4", "5"])
limde4 = pd.DataFrame(index   = ["DICE 4"],
                      columns = ["0", "1", "2", "3", "4", "5"])

In [66]:
des = pd.concat([limde1, de1.transpose(), limde2, de2.transpose(), limde3, de3.transpose(), limde4, de4.transpose()], axis=0)
des.to_csv("frequancedes.csv")